.fake-radio {
    width: 20px;
    height: 20px;
    border: 2px solid #C29974;
    border-radius: 50%;
    position: relative;
}

.fake-radio::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    top: 15%;
    left: 10%;
    background-color: #C29974;
    opacity: 0;
    border-radius: 50%;
}

.radios:checked + .fake-radio::before {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .radio {
        min-width: 131px;
    }
}