.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 161px;
    padding: 9px;
    border: none;
    text-transform: uppercase;      
}
  
.button:hover {
    background: #C29974;
}
  
.button:active {
    background: #CFAF91;
}
  
.button:disabled {
   background: #C1C1C1;
}
    
