@import "../../components/additions";

/* BANNER */

.banner {
  &__main {
    max-width: 1180px;
    width: 100%;
    max-height: 372px;
    background: #EEE4DB;
  }

  &__text {
    margin-top: 89px;
    margin-right: 5px;
    max-width: 308px;
    width: 100%;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 110%;
    @include color;
    margin: 0;
  }

  &__subtitle {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-style: italic;
    line-height: 25px;
    @include color;
  }

  &__logo {
    margin-right: 99px;
    top: -89px;
    position: relative;
  }

  &__footer {
    background: #C29974;
    max-width: 1180px;
    width: 100%;
    max-height: 39px;
    height: 100%;
    padding: 11px 364px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: $light;
    font-size: 12px;
    line-height: 0px;
    width: 100%;
    
  }
}

.banner-logo {
  margin-right: 99px;
  top: -89px;
  position: relative;
}

.slider {
  padding: 17px 44px 0 28px;

  &__number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    margin: 0;
  }

  &__pagination {
    max-width: 31px;
    max-height: 11px;
  }

  &__button {
    background-color: #D6CAC2;
    height: 3px;
    width: 31px;
    margin-bottom: 11px;
    border: 0px;
  }

  &__button:hover {
    background-color: #725F5B;
    height: 3px;
    width: 31px;
  }  
}

.special {
  background-color:  rgba(30, 6, 6, 0.6);
  height: 3px;
  width: 31px;
  margin-bottom: 11px;
  border: 0px;
}

/* CATEGORY PRODUCTS */

.service {
  &__title {
    margin-top: 90px;
    font-size: 38px;
    line-height: 46px;
    font-family: 'Montserrat', sans-serif;
    width: 454px;
    height: 47px;
    text-transform: uppercase;
    max-height: 47px;
    max-width: 454px;
    width: 100%;
    height: 100%;
  }

  &__basement {
    margin-top: 25px;
    display: flex;
  }

  &__arrows {
    display: flex;
  }

}

.wow {
  background-color: rgba(112, 187, 220, 0.2);
  width: 37px;
  height: 37px;
  max-width: 37px;
  max-height: 37px;
  height: 100%;
  width: 100%;
  padding: 5px 12px;
  margin-right: 8px;
}

.arrow {
  stroke:#000000;
  height: 100%;
  width: 100%;
  padding: 5px 12px;
}

.arrow:hover  {
  stroke:#C29974;
  transition: .4s;
  cursor: pointer;
}

.category {
  max-width: 1180px;
  width: 100%;
  display: flex;
}


/* ABOUT */

.about {
  margin-top: 70px;

  &__picture {
    max-width: 480px;
    max-height: 559px;
    margin-right: 120px;
  }
  
  &__title {
    font-size: 38px;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 17px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;  
    @include color;
  }

  &__item {
    font-family: 'Crimson Text', serif;
    font-size: 26px;
    line-height: 32px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 22px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }
}

.active {
  font-family: 'Crimson Text', serif;
      font-style: italic;
      font-size: 26px;
      font-weight: bold;
      line-height: 32px;
      margin-bottom: 22px;
      background-color: rgba(112, 187, 220, 0.2);
      padding: 11px 180px 11px 60px;
      max-width: 326px;
      max-height: 55px;
      left: -60px;
      position: relative;
}

/* BRANDS */

.brands {
  margin: 90px 110px;
  display: flex;
}

.brand {
  margin-right: 127px;
}


/* CONTACTS */

.contacts {
  display: flex;

  &__about {
    background-color: #E1F0F7;
    margin-right: 57px;
    padding-left: 30px;
    max-width: 543px;
    width: 100%;
    max-height: 236px;
    height: 100%;
    padding-bottom: 35px;
  }

  &__contacts {
    background-color: #E1F0F7;
    padding-left: 30px;
    max-width: 543px;
    width: 100%;
    max-height: 209px;
    height: 100%;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    position: relative;
    text-transform: uppercase;
    @include color;
    margin-top: 0;
    top: -10px;
    margin-bottom: 10px;
  } 
}

/* BASIC */

.contact-name,
.contact-phone,
.contant-email,
.message {
  @include background;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.message:hover,
.contact-name:hover,
.contact-phone:hover,
.contant-email:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.contact-form {
  max-width: 680px;
  width: 100%;
  background: #E5EAF8;
  padding: 42px 40px;
}

.contact-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.contact-form label {
  font-size: 18px;
  line-height: 22px;
  color: #6B6A6A;
  margin-bottom: 6px;

}

.contact-form input,
.contact-form textarea {
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
  font-size: 16px;
  line-height: 25px;
  @include background;
}
.contact-form textarea {
  height: auto;
  resize: none;
}

.checkbox label {
  position: relative;
  padding-left: 30px;
  margin-right: 33px;
  cursor: pointer;
}

.checkbox label:before,
.checkbox label:after  {
  content: '';
  position: absolute;
}

.checkbox label:before {
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  border: 2px solid #C29974;
}
.checkbox label:after {
  width: 19px;
  height: 19px;
  top: 5px;
  left: 5px;
  background-repeat: no-repeat;
  background-image: url("../../static/images/check-mark.png");
  opacity: 0;
}

.input:checked + label:after {
  opacity: 1;
} 

.contact-title {
  font-weight: 900;
  font-size: 50px;
  line-height: 97.2%;
  color: #00559D;
  margin-bottom: 60px;
}

.contact-wrapper {
  flex-direction: column;
}

.contact-block {
  max-width: 280px;
  width: 100%;
}

.contact-line {
  justify-content: space-between;
}