@keyframes cars {
    0% {
       left: -1800px;
    }

    100% {
        left: 100%;
    }
}

@keyframes taxi {
    0% {
       right: -8500px;
    }

    20% {
        right: -1000px;
    }

    100% {
        right: 100%;
    }
}

@keyframes message-1 {
    0% {
        opacity: 0%;
    }

    10% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes message-2 {
    0% {
        opacity: 0%;
    }

    20% {
        opacity: 0%;
    }

    25% {
        opacity: 100%;
    }

    35% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes message-3 {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 0%;
    }

    35% {
        opacity: 100%;
    }

    45% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes hand {
    0% {
        transform: rotateX(180deg);
    }

    20% {
        transform: rotateX(180deg);
    }

    25% {
        transform: rotateX(0deg);
    }

    35% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(180deg);
    }
}

.town,
.sky {
    width: 100%;
}

.animation {
    &__title {
        font-family: Montserrat,sans-serif;
        font-size: 40px;
        line-height: 110%;
        color: #1e0606;
        margin: 0 0 15px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.highway,
.road {
    margin: 0 auto;
    padding: 0;
    max-height: 30%;
    max-width: 100%;
    align-items: center;
    background-color: #EADFF8;
}

.road {
    margin-top: 200px;
    max-height: 160px;
}

.city {
    padding: 0;
    max-height: 700px;
}

.cars {
    list-style-type: none;
    display: flex;
    position: relative;
    animation: cars 4s infinite; 
    top: -30px;

    &__1 {
        margin-right: 100px;
    }

    &__2 {
        margin-right: 100px;
    }

    &__3 {
        margin-right: 200px;
    }
}

.lantern-1,
.lantern-2 {
    position: relative;
}

.lantern-1 {
    margin-left: 680px;
    bottom: 350px;
}

.lantern-2 {
    bottom: 730px;
    margin-left: 1800px;
}

.scene {
    margin-top: 50px;
    margin-bottom: -500px;
    position: relative;
}

.taxi {
    animation: taxi 15s infinite;
    position: relative;
    top: -250px;
}

.driver {
    &__message {
        margin-left: 300px;
        animation: message-3 12s infinite;
    }
}

.woman {
    margin-left: 140px;
    top: -300px;
    position: relative;
    
    &__message {
        animation: message-1 12s infinite;
    }

    &__body {
        position: absolute;
        margin-left: 100px;
    }

    &__baggage {
        position: relative;
        margin-left: 95px;
        bottom: -170px;
    }
}

.man {
    position: relative;
    top: -365px;
    margin-left: -100px;

    &__body {
        position: absolute;
        margin-left: 100px;
    }

    &__hand {
        position: absolute;
        margin-left: 100px;
        top: 55px;
        animation: hand 12s infinite;
    }

    &__message {
        animation: message-2 12s infinite;
        margin-left: 90px;
    }
}

.people {
    display: flex;
    max-height: 500px;
}

.lantern-3 {
    position: relative;
    margin-left: 800px;
    top: -450px;
}
