/* CONTACTS */

@mixin display($display:flex) {
    display: $display;
}

@mixin background($background: #FFFFFF) {
    background: $background;
}



.contacts {
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        line-height: 110%;
        color: #1E0606;
        margin: 0;
        margin-bottom: 15px;
    }

    &__main {
        @include display;
        margin-top: 50px;
    }

    &__form {
        max-width: 680px;
        width: 100%;
        background: #E5EAF8;
        padding: 42px 40px;
    }

    &__form fieldset {
        border: none;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    &__form label {
        font-size: 18px;
        line-height: 22px;
        color: #6B6A6A;
        margin-bottom: 6px;
    }

    &__form input,
    &__form textarea {
        height: 50px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        padding: 12px 20px;
        font-size: 16px;
        line-height: 25px;
        @include background;
    }

    &__form textarea {
        height: auto;
        resize: none;
    }

    &__wrapper {
        flex-direction: column;
        @include display;
    }

    &__block {
        max-width: 280px;
        width: 100%;
    }    

    &__line {
        justify-content: space-between;
        @include display;
    }

    &__description {
        margin-left: 120px;
        margin-bottom: 20px;
        max-width: 380px;
    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        color: #1E0606;
        font-size: 16px;
        line-height: 22px;  
    }

    &__name,
    &__phone,
    &__email,
    &__message {
        @include background;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }

    &__message:hover,
    &__name:hover,
    &__phone:hover,
    &__email:hover {
        border: 2px solid rgba(0, 0, 0, 0.3);
    }
}

/* CHECKBOX */

.checkbox label {
    position: relative;
    padding-left: 30px;
    margin-right: 33px;
    cursor: pointer;
}

.checkbox label:before,
.checkbox label:after  {
    content: '';
    position: absolute;
}

.checkbox label:before {
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    border: 2px solid #C29974;
}
.checkbox label:after {
    width: 19px;
    height: 19px;
    top: 5px;
    left: 5px;
    background-repeat: no-repeat;
    background-image: url("../../static/images/check-mark.png");
    opacity: 0;
}

.input:checked + label:after {
    opacity: 1;
} 

.special {
    font-size: 26px;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #C29974;
    @include background;
}