.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 161px;
    padding: 9px;
    border: none;
    text-transform: uppercase;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
   background: #C1C1C1;
}

/* CONTACT US */

.banner {
    margin-left: 110px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin: 0;
    margin-bottom: 15px;
}

.breadcrumbs {
    margin-bottom: 50px;
    margin-top: 15px;
    padding: 0; 
}

/* BASIC */

.contact-name,
.contact-phone,
.contant-email,
.message {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}


.message:hover,
.contact-name:hover,
.contact-phone:hover,
.contant-email:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.contact-form {
    max-width: 680px;
    width: 100%;
    background: #E5EAF8;
    padding: 42px 40px;
}

.contact-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 18px;
    line-height: 22px;
    color: #6B6A6A;
    margin-bottom: 6px;

}

.contact-form input,
.contact-form textarea {
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 12px 20px;
    font-size: 16px;
    line-height: 25px;
    background: #FFFFFF;
}
.contact-form textarea {
    height: auto;
    resize: none;
}

.checkbox label {
    position: relative;
    padding-left: 30px;
    margin-right: 33px;
    cursor: pointer;
}

.checkbox label:before,
.checkbox label:after  {
    content: '';
    position: absolute;
}

.checkbox label:before {
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    border: 2px solid #C29974;
}
.checkbox label:after {
    width: 19px;
    height: 19px;
    top: 5px;
    left: 5px;
    background-repeat: no-repeat;
    background-image: url("../../static/images/check-mark.png");
    opacity: 0;
}

.input:checked + label:after {
    opacity: 1;
} 

.contact-title {
    font-weight: 900;
    font-size: 50px;
    line-height: 97.2%;
    color: #00559D;
    margin-bottom: 60px;
}

.contact-wrapper {
    flex-direction: column;
}

.contact-block {
    max-width: 280px;
    width: 100%;
}

.contact-line {
    justify-content: space-between;
}

.texts {
    margin-left: 120px;
    margin-bottom: 20px;
    max-width: 380px;
    
}

.letter {
    font-family: 'Open Sans', sans-serif;
    color: #1E0606;
    font-size: 16px;
    line-height: 22px;  
}

.special {
    font-size: 26px;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #C29974;
    background-color: #FFFFFF;
}