.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    max-width: 161px;
    padding: 9px;
    border: none;
    text-transform: uppercase;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
   background: #C1C1C1;
}

/* BLOG */

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin: 0;
    margin-bottom: 15px;
}

.breadcrumbs {
    margin-bottom: 50px;
    padding: 0; 
}

.arrow {
    margin: 0 20px;
    max-width: 8px;
    max-height: 12px;
    width: 100%;
    height: 100%;
}

.blog-articles  {
    list-style-type: none;
    padding: 0;
    flex-flow: row wrap;
}

.blog-group {
    margin-right: 20px;
    margin-top: 20px;
    width: 380px;
}

.blog-group:nth-child(3n) {
    margin-right: 0;
}

.image {
    width: 100%;
    height: 220px;
    margin-right: 0;
}

.date {
    margin-top: 20px;
    margin-bottom: 7px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
}

.name:hover {
    text-decoration-line: underline;
}

.text {
    font-size: 16px;
    max-width: 680px;
    width: 100%;
    height: 100%;
    color: #1E0606;
    margin-bottom: 15px;
    padding: 0;
}

.pagination {
    justify-content: space-between;
}

.arrow {
    max-width: 13px;
    max-height: 26px;
    box-sizing: border-box;
}

.pages {
    list-style-type: none;
    justify-content: space-around;
}

.page {
    margin-right: 64px;
    max-width: 10px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    color: #1E0606;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    size: 16px;
    text-transform: uppercase;
}

.special {
    color: #C29974;
}