/* BLOG */

.blog {
    &__articles  {
        list-style-type: none;
        padding: 0;
        flex-flow: row wrap;
    }
}

.special {
    color: #C29974;
}

.arrow:hover  {
    stroke:#C29974;
    transition: .4s;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .container {
        margin-left: 20px;
    }

    .blog-group {
        max-width: 335px;
        min-height: 194px;
        padding: 0;
        margin-right: 30px;
    }

    .pagination {
        max-width: 329px;
    }

    .pages {
        padding: 0;
        margin-top: 0;
        margin-left: 40px;
    }

    .page {
        max-width: 54px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {

.blog-group {
        max-width: 314px;
        min-height: 519px;
        padding: 0;
        margin-right: 30px;
    }
}


