/* BLOG */

.blog {
    
    &__articles  {
        list-style-type: none;
        padding: 0;
        flex-flow: row wrap;
    }
}

.special {
    color: #C29974;
}

.arrow:hover  {
    stroke:#C29974;
    transition: .4s;
    cursor: pointer;
}