.block {
  max-width: 244px;
  text-transform: uppercase;
  max-height: 244px;
  height: 100%;
  color: #FFFFFF;
  margin: 0;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  font-size: 26px;
  line-height: 32px;
}

.order:nth-child(4n) {
  margin-left: 200px;
  margin-right: 35px;
}

.options {
  max-width: 280px;
  width: 100%;
  max-height: 270px;
  margin-top: 50px;
  margin-right: 35px;
  margin-bottom: 20px;
}
  
.service {
  &__first,
  &__second,
  &__third,
  &__fourth,
  &__fifth,
  &__sixth {
    transition: .4s;
}

  &__first:hover,
  &__second:hover,
  &__third:hover,
  &__fourth:hover,
  &__fifth:hover,
  &__sixth:hover {
    text-decoration-line: underline;
}

  &__first {
    background-image: url("../../static/images/service/service-1.png");
    background-color: #DBE4DB;
    padding: 57px;
    max-height: 170px; 
  }

  &__second {
    background-image: url("../../static/images/service/service-2.png");
    background-color: #EADDD3;
    padding: 120px 26px;
    max-height: 244px;
  }

  &__third {
    background-image: url("../../static/images/service/service-3.png");
    background-color: #F8F2DA;
    padding: 135px 100px;
  }

  &__fourth {
    background-image: url("../../static/images/service/service-4.png");
    background-color: #D5D4E1;
    padding: 110px 40px;
  }

  &__fifth {
    background-image: url("../../static/images/service/service-5.png");
    background-color: #F3D0DB;
    padding: 108px 89px;
  }

  &__sixth {
    background-image: url("../../static/images/service/service-6.png");
    background-color: #E5EAF8;
    padding: 90px 100px;
    margin-right: 0;
  }
}

.category {
  &__first {
    background-color: #DBE4DB;
    padding: 48px 18px;
  }

  &__second {
    background-color: #EADDD3;
    padding: 20px 18px;
  }

  &__third {
    background-color: #F8F2DA;
  }

  &__fourth {
    background-color: #D5D4E1;
    padding: 10px 22px;
    margin-top: 50px;
  }

  &__fifth {
    background-color: #F3D0DB;
    padding: 10px 22px;
  }

  &__sixth {
    background-color: #E5EAF8;
    padding: 30px 0px;
  }
}
