.block {
  max-width: 244px;
  text-transform: uppercase;
  max-height: 244px;
  height: 100%;
  color: #FFFFFF;
  margin: 0;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  font-size: 26px;
  line-height: 32px;
  transition: .4s;
}

.order:nth-child(4n) {
  margin-left: 200px;
  margin-right: 35px;
}

.options {
  max-width: 280px;
  width: 100%;
  max-height: 270px;
  margin-top: 50px;
  margin-right: 35px;
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    max-width: 160px;
  }
}
  
.service {

  &_first:hover,
  &_second:hover,
  &_third:hover,
  &_fourth:hover,
  &_fifth:hover,
  &_sixth:hover {
    text-decoration-line: underline;
}

  &_first {
    background-image: url("../../static/images/service/service-1.png");
    background-color: #DBE4DB;
    padding: 57px;
    max-height: 170px; 
  }

  &_second {
    background-image: url("../../static/images/service/service-2.png");
    background-color: #EADDD3;
    padding: 120px 26px;
    max-height: 244px;
  }

  &_third {
    background-image: url("../../static/images/service/service-3.png");
    background-color: #F8F2DA;
    padding: 135px 100px;
  }

  &_fourth {
    background-image: url("../../static/images/service/service-4.png");
    background-color: #D5D4E1;
    padding: 110px 40px;
  }

  &_fifth {
    background-image: url("../../static/images/service/service-5.png");
    background-color: #F3D0DB;
    padding: 108px 89px;
  }

  &_sixth {
    background-image: url("../../static/images/service/service-6.png");
    background-color: #E5EAF8;
    padding: 90px 100px;
    margin-right: 0;
  }
}

.category {
  &_first {
    background-color: #DBE4DB;
    padding: 48px 18px;
  }

  &_second {
    background-color: #EADDD3;
    padding: 20px 18px;
  }

  &_third {
    background-color: #F8F2DA;
  }

  &_fourth {
    background-color: #D5D4E1;
    padding: 10px 22px;
    margin-top: 50px;
  }

  &_fifth {
    background-color: #F3D0DB;
    padding: 10px 22px;
  }

  &_sixth {
    background-color: #E5EAF8;
    padding: 30px 0px;
  }
}

@media screen and (max-width: 768px) {
  .order:nth-child(4n) {
      margin-left: 0;
    }
}

@media screen and (max-width: 375px) {
  .options {
    min-width: 290px;
    min-height: 160px;
  }
}