.group {
    max-width: 280px;
    width: 100%;
    max-height: 270px;
    margin-right: 35px;
  }
  
  .service-first {
    background-image: url("../../static/images/service/service-1.png");
    background-color: #DBE4DB;
    padding: 57px;
    max-height: 170px; 
  }
  
  .category-first {
    background-color: #DBE4DB;
    padding: 48px 18px;
  }
  
  .service-second {
    background-image: url("../../static/images/service/service-2.png");
    background-color: #EADDD3;
    padding: 105px 26px;
    max-height: 244px;
  }
  
  .category-second {
    background-color: #EADDD3;
    padding: 20px 18px;
  }
  
  .service-third {
    background-image: url("../../static/images/service/service-3.png");
    background-color: #F8F2DA;
    width: 100%;
    margin-right: 25px;
    padding: 119px 100px;
    max-height: 270px;  
  }
  
  .category-third {
    height: 100%;
    background-color: #F8F2DA;
  }
  
  .service-fourth {
    background-image: url("../../static/images/service/service-4.png");
    background-color: #D5D4E1;
    width: 100%;
    padding: 110px 40px;
    max-height: 270px;
  }
  
  .category-fourth {
    height: 100%;
    background-color: #D5D4E1;
    padding: 10px 22px;
    margin: 0;
  }
  