/* SERVICE */

.catalog {
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        line-height: 110%;
        color: #1E0606;
        margin: 0;
        margin-bottom: 15px;
    }

    &__category {
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
    }

    &__description {
        margin-left: 230px;
    }

    &__description-title {
        margin-top: 55px;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: #1E0606;
        font-family: 'Montserrat', sans-serif;
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        max-width: 680px;
        width: 100%;
        max-height: 44px;
        height: 100%;
        color: #1E0606;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 15px;
        padding: 0;
    }
}