$space: #1E0606;

.blog-group {
    margin-right: 20px;
    margin-top: 20px;
    width: 380px;
}

.blog-group:nth-child(3n) {
    margin-right: 0;
}

.image {
    width: 100%;
    height: 220px;
    margin-right: 0;
}

.date {
    margin-top: 20px;
    margin-bottom: 7px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: $space;
}

.name:hover {
    text-decoration-line: underline;
}

.text {
    font-size: 16px;
    max-width: 680px;
    width: 100%;
    height: 100%;
    color: $space;
    margin-bottom: 15px;
    padding: 0;
}