
$space: #1E0606;
%zero {padding: 0;}

.button,
.banner__basement-text,
.block,
.group,
.specification, 
.price,
.product:hover::before,
.product:active::before,
.breadcrumbs,
.contact-title,
.contact-title {
    -webkit-text-align: center;
        -moz-text-align: center;    
            text-align: center;
}

img,
.button,
.checkbox label:before,
.checkbox label:after,
.fake-radio::before,
.popup-open,
.popup-overlay-open {
    -webkit-display: block;
        -moz-display: block;    
            display: block;
}

.input,
.popup-overlay,
.popup-form,
.radios {
    -webkit-display: none;
        -moz-display: none;    
            display: none;
}

.breadcrumbs,
.contacts,
.sidebar,
.catalog__category,
.blog__articles,
.contact-form fieldset,
.banner__main,
.about,
.prices,
.pagination,
.pages,
.header,
.footer__top,
.footer__search
.footer__networks,
.footer__search,
.footer__bottom,
.footer__link,
.footer-company_rating  {
    -webkit-display: flex;
        -moz-display: flex;    
            display: flex;
}

.fake-radio,
.row-product {
    -webkit-display: inline-block;
        -moz-display: inline-block;    
            display: inline-block;
}

.breadcrumbs,
.group,
.header,
.footer__link,
.footer-company_rating,
.underservice {
    -webkit-align-items: center;
        -moz-align-items: center; 
            align-items: center;
}

h3 {
    margin: 0;
}

.container {
    max-width: 1220px;
    width: 100%;
    @extend %zero;
    margin: 0 auto;
}

@mixin box-sizing($box-sizing: border-box) {
    box-sizing:$box-sizing
}

* {
    @include box-sizing;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
    @include box-sizing;
    font-size: 16px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: $space;
}

a:hover {
    opacity: 50%;
}

a:active {
    opacity: 20%;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    overflow: hidden;
    font-size: 0;
}

.input {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
}

.breadcrumbs {
    margin-bottom: 50px;
    
    &__home,
    &__next {
        font-style: italic;
        margin-bottom: 50px;
    }

    &__home::after,
    &__next::after {
        content: '>'; 
        margin-left: 20px; 
        margin-right: 20px; 
        color: #7f7f7f; 
    }

    &__active {
        opacity: 50%;
        font-style: italic;
        margin: 0;
    }
}

.outline {
    list-style-type: none;
    @extend %zero;
    margin: 0;
}

.pagination {
    justify-content: space-between;
}

.pages {
    list-style-type: none;
    justify-content: space-around;
}

.page {
    margin-right: 64px;
    max-width: 10px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    color: $space;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    size: 16px;
    text-transform: uppercase;
}


// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./service/service";
@import "./blog-group/blog-group";
@import "./radio/radio";
@import "./checkbox/checkbox";


