.input:checked + label:after {
    opacity: 1;
} 

.input:checked + label::before {
    background-color: #FFFFFF;
}

.checkboxes {
    margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
    .checkboxes{
        margin-bottom: 15px;
        margin-right: 0;
        min-width: 80px;
        max-height: 22px;
    }
    
}