/* FOOTER */

footer {
  background-color:#434343;
  padding: 100px 110px;
  margin-top: 147px;
}

.footer-first {
  justify-content: space-between;
}

.footer-table {
  max-width: 380px;
  width: 100%;
}

.footer-copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: -50px;
}

.link {
  margin-bottom: 15px;
}

.footer-title {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  color: #AAAAAA;
  margin: 0;
  margin-bottom: 22px;
  border-bottom: #666666;
  border-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 23px;
}

.line {
  margin-top: 23px;
  margin-bottom: 28px;
  max-width: 380px;
  width: 100%;
}

.footer-search {
  max-width: 380px;
  width: 100%;
  max-height: 40px;
  height: 100%;
}

.footer-searching {
  background: #666666;
  max-width: 300px;
  width: 100%;
  padding: 9px 0 9px 15px;
}

.footer-searching:hover {
  border: 1px solid #FFFDFD;
}

.footer-searching::placeholder {
  color: #EBEBEB;
  max-width: 41px;
  width: 100%;
  max-height: 22px;
  width: 100%; 
}

.social {
  margin-top: 35px;
  margin-bottom: 116px;
}

.footer-social {
  margin-right: 15px;
}

.footer-second {
  padding-bottom: 23px;
  border-top: #666666;
  border-width: 1px;
  border-top-style: solid;
  padding-top: 23px;
  justify-content: space-between;
}

.line-second {
  margin-top: 28px;
  margin-bottom: 23px;
}

.footer-link,
.footer-company_rating {
  padding: 0;
  color: #FFFFFF;
}

.footer-company_rating {
  margin-bottom: 20px;
}

.rating-two {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;    
      display: inline-flex;
  flex-direction: row-reverse;
  list-style-type: none;
  margin-top: 0;
}

.rating-one {
  padding-top: 0;
}

.star {
  color: #FFFFFF;
  margin-right: 3px;
  cursor: pointer;
}

.star:hover,
.star:hover ~ .star {
  color: #836E5B;
}

.dl {
  left: -155px;
  position: relative;
  color: #A2A2A2;
  left: -80px;
}

.dl:hover {
  text-decoration-line: underline;
  color: #FFFFFF;
}