$light: #FFFFFF;

/* FOOTER */

.footer {
  background-color:#434343;
  padding: 100px 110px;
  margin-top: 147px;

  &__top {
    justify-content: space-between;
  }

  &__column {
  max-width: 380px;
  width: 100%;
  }

  &__title {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    color: #AAAAAA;
    margin: 0;
    margin-bottom: 22px;
    border-bottom: #666666;
    border-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 23px;
  }

  &__link {
    padding: 0;
    color: $light;
    margin-bottom: 15px;
  }

  &__search {
    max-width: 380px;
    width: 100%;
    max-height: 40px;
    height: 100%;
  }

  &__searching {
    background: #666666;
    max-width: 300px;
    width: 100%;
    padding: 9px 0 9px 15px;
  
    &:hover {
      border: 1px solid #FFFDFD;
    }

    &::placeholder {
      color: #EBEBEB;
      max-width: 41px;
      width: 100%;
      max-height: 22px;
      width: 100%; 
    }
  } 
  
  &__bottom {
    padding-bottom: 23px;
    border-top: #666666;
    border-width: 1px;
    border-top-style: solid;
    padding-top: 23px;
    justify-content: space-between;
  }
  
  &__copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: $light;
    margin-left: -50px;
  }

  &__dl {
    left: -155px;
    position: relative;
    color: #A2A2A2;
    left: -80px;
  }

  &__dl:hover {
    text-decoration-line: underline;
    color: $light;
  }
}

.rating {
  display: flex;

  &__list {
    padding: 0;
    color: $light;
    margin-bottom: 15px;
    margin-right: 3px;
    cursor: pointer;
  }
  
  &__list:hover {
    color:#C29974;
  }

  &__stars{
    -webkit-display: inline-flex;
    -moz-display: inline-flex;    
        display: inline-flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin-top: 0;
  }

  &__item {
    color: $light;
    margin-right: 3px;
    cursor: pointer;
  }

  &__item:hover,
  &__item:hover ~ &__item {
    color: #836E5B;
  } 
}

.social {
  margin-top: 35px;
  margin-bottom: 116px;
  display: flex;

  &__item {
    margin-right: 15px;
  }
}