@import "../../components/additions";

h2 {
    margin: 0;
    max-width: 68px;
    margin-bottom: 15px;
}

h3 {
    margin: 0;
}

.color,
.delivery,
.amount {
    margin-top: 42px; 
}

.product:hover::before,
.product:active::before {
    content: 'Learn more';
    text-transform: uppercase;
    color: #1E0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    display: block;
    font-size: 26px;
    line-height: 29px; 
    width: 100%;
    height: 100%;
    padding: 73px;  
    position: absolute;
    opacity: 90%;
    background: #E5EAF8;
    max-width: 100px;
    max-height: 100px;
    margin: 70px;
}

/* TOYS */

.toys {
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        line-height: 110%;
        color: #1E0606;
        margin: 0;
        margin-bottom: 15px;
    }
}

.breadcrumbs {
    display: flex;
    margin-bottom: 50px;
    padding: 0;
}

.sidebar {
    background-color:  rgba(125, 151, 218, 0.2); 
    justify-content: space-between;
    padding: 42px 125px;
}

.cost {
    margin: 42px 94px 123px 0px;
}

.checkbox {
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.checkbox label {
    position: relative;
    padding-left: 30px;
    margin-right: 33px;
    cursor: pointer;
}

.checkbox label:hover {
    text-decoration-line: underline;
}

.checkbox label:before,
.checkbox label:after  {
    content: '';
    position: absolute;
}

.checkbox label:before {
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    border: 2px solid #C29974;
}
.checkbox label:after {
    width: 19px;
    height: 19px;
    top: 5px;
    left: 5px;
    background-repeat: no-repeat;
    background-image: url("../../static/images/check-mark.png");
    opacity: 0;
}

.delivery {
    margin-left: 130px;
    position: relative;
}

.radio {
    list-style-type: none;
    padding: 0;
}

.amount {
    margin-left: 70px;
    margin-right: 60px;
    position: relative;
}

.prices {
    list-style-type: none;
    padding: 0;
}

.range {
    width: 80px;
    height: 35px;
    padding: 0;
    @include background;
    border: none;
}

.range:hover {
    background: #EDDEEB;
    border: none;
}

.checked {
    background: #F3D0DB;
}

.apply {
    max-width: 95px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    margin-top: 79px;
}

/* PRODUCTS */

.row-products {
    padding: 0;
    list-style-type: none;
}

.specification {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    color: #1E0606;
    font-weight: normal;
    margin-bottom: 15px;
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 78px;
}

.special {
    color: #C29974;
}


