.description {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    color: #1E0606;
    font-weight: normal;
    margin-bottom: 15px;
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 78px;
}

.picture:hover::before {
    opacity: 90%;
}

.picture:active::before {    
    opacity: 0.67;
}